
p{
  font-size: 16px;
  line-height: 24px;

}
.bnr-first-line{
  font-size: 26px;
  line-height: 34px;
}
.bnr-second-line{
  font-size: 54px;
  line-height: 59px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.no-pad-l {
  padding-left: 0; }

.no-pad-r {
  padding-right: 0; }

.c-header__logo {
  width: 14em;
  max-width: 19%;
  min-width: 11em; }
  .c-header__logo img {
    width: 100%;
    height: auto; }

.c-seperator {
  font-size: 2em;
  padding: 1em 0 0; }

.c-agent-forms__single .nx-formfield.c-floating_top .nx-formfield__wrapper {
  padding-bottom: 0; }
  .c-agent-forms__single .nx-formfield.c-floating_top .nx-formfield__wrapper .nx-formfield__input {
    width: 100%;
    max-width: 100%; }
    .c-agent-forms__single .nx-formfield.c-floating_top .nx-formfield__wrapper .nx-formfield__input .nx-formfield__label {
      -webkit-transform: translateY(-1.6em) translateZ(0.001px);
      transform: translateY(-1.6em) translateZ(0.001px);
      font-size: 12px;
      font-weight: 600;
      width: 133.33%; }

.c-agent-forms__single .c-submit_btn {
  margin-top: 2em; }

@media only screen and (max-width: 480px) {
  .c-agent-forms__single .l-grid__column-small-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    -webkit-flex: 0 0 33.33333%; }
  .c-agent-forms__single .l-grid__column-small-7 {
    max-width: 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    -webkit-flex: 0 0 58.33333%; }
  .c-agent-forms__single .l-grid__column-small-1 {
    max-width: 8.33333%;
    -ms-flex: 0 0 8.3333%;
    flex: 0 0 8.33333%;
    -webkit-flex: 0 0 8.33333%; }
  .c-agent-forms__single .l-grid__row {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; } }

.nx-formfield {
  display: block;
  font-size: 20px;
  color: #414141;
  text-align: left; }

.nx-formfield.has-error {
  color: #dc3149; }

.nx-formfield__wrapper {
  padding-bottom: 20px; }

.nx-formfield__input {
  position: relative;
  border-top: 1em solid transparent;
  line-height: 28px; }

.nx-formfield__label-holder {
  position: absolute;
  left: 0;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
  top: -1em;
  padding-top: 1em; }

.nx-formfield__label {
  color: inherit;
  display: block;
  position: absolute;
  left: 0;
  pointer-events: none;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: font-size .15s ease-out, -webkit-transform .15s ease-out;
  transition: transform .15s ease-out, font-size .15s ease-out;
  transition: transform .15s ease-out, font-size .15s ease-out, -webkit-transform .15s ease-out;
  font-weight: 300; }

.nx-formfield__flexfield {
  border-bottom: 1px solid currentColor;
  display: inline-flex;
  align-items: baseline;
  width: 100%; }

.nx-formfield__input {
  flex: auto;
  min-width: 0;
  width: 180px; }

.nx-formfield__prefix, .nx-formfield__suffix {
  flex: none;
  white-space: nowrap;
  color: #767676;
  font-weight: 600; }

.nx-formfield__prefix {
  margin-right: 16px; }

.nx-formfield__suffix {
  margin-left: 16px; }

.nx-formfield__hints {
  text-align: right;
  color: #414141;
  font-size: 12px;
  padding-top: 9px; }

.nx-formfield__messages {
  margin-top: 5px; }

.nx-formfield.is-focused:not(.nx-formfield--negative) {
  color: #007ab3; }

.nx-formfield.is-focused:not(.nx-formfield--negative).nx-formfield--negative {
  color: #fff; }

.nx-formfield.is-focused:not(.nx-formfield--negative) .nx-formfield__label {
  text-overflow: ellipsis;
  font-weight: 600; }

.nx-formfield.is-floating .nx-formfield__label {
  -webkit-transform: translateY(-1.6em) translateZ(0.001px);
  transform: translateY(-1.6em) translateZ(0.001px);
  font-size: 12px;
  font-weight: 600;
  width: 133.33%; }

.nx-formfield.is-disabled {
  color: #c2c2c2;
  cursor: not-allowed; }

.nx-formfield.is-disabled .nx-formfield__hints {
  color: inherit; }

.nx-formfield.is-disabled .nx-formfield__flexfield {
  border-bottom-color: currentColor; }

.nx-formfield--negative {
  color: #fff; }

.nx-formfield--negative .nx-formfield__hints {
  color: inherit; }

.c-input {
  text-align: inherit;
  font-size: inherit;
  background: 0 0;
  color: inherit;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  line-height: 28px;
  height: 28px; }

.c-input.is-focused {
  border: none;
  outline: 0;
  box-shadow: none; }

.c-input.is-filled {
  font-weight: 600; }

.c-input.is-disabled {
  cursor: not-allowed; }

textarea.nx-input-element {
  resize: vertical;
  overflow: auto; }



.nx-button--cta:active {
    background-color: #276442;
}
.nx-button--primary:active {
  background-color: #003781;
  border-color: #003781;
  box-shadow: none;
  color: #fff;
}
.nx-button--cta:hover {
  background-color: #348357;
}
.nx-button--cta {
  background-color: #3da556;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: .1rem;
  line-height: 1.4;
  margin: 0 0 20px;
  padding: 12px 28px;
  text-transform: uppercase;
  transition: background-color .2s ease,border-color .2s ease,color .2s ease,box-shadow .2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
#footer_inner{
    padding:20px 0;
    font-size:16px;
    text-align:center;
    color:#767676;
    line-height:22px;
}
#footer_sec1 nav{
    margin-bottom:20px;
}
#footer_sec1 p{
    margin:0 0 25px;
}
#footer_sec2 img{
    width:108px;
    max-width:95%;
}
.footer_logo img{
    width:100px;
    margin-bottom:28px;
}
footer .c-footer__divider{
    display:block;
}
@media only screen and (min-width:768px) {
    .footer_logo{
        display:none;
    }
    #footer_sec1 nav{
        margin-bottom:40px;
    }
    #footer_sec1{
        float:left;
        padding-right:15px;
        text-align:left;
    }
    #footer_sec2{
        float:right;
        padding-left:15px;
        text-align:right;
    }
}
/*footer*/
#footer_inner{
  padding:20px 0;
  font-size:16px;
  text-align:center;
  color:#767676;
  line-height:22px;
}
#footer_sec1 nav{
  margin-bottom:20px;
}
#footer_sec1 p{
  margin:0 0 25px;
}
#footer_sec2 img{
  width:108px;
  max-width:95%;
}
.footer_logo img{
  width:100px;
  margin-bottom:28px;
}
footer .c-footer__divider{
  display:block;
}
@media only screen and (min-width:768px) {
  .footer_logo{
      display:none;
  }
  #footer_sec1 nav{
      margin-bottom:40px;
  }
  #footer_sec1{
      float:left;
      padding-right:15px;
      text-align:left;
  }
  #footer_sec2{
      float:right;
      padding-left:15px;
      text-align:right;
  }
}
